page-message {
    ion-content {
        color: #8d8d8d !important;        
    }

    .title {
        font-size: 1.8em;
        font-weight: 600;
        padding: 8px;
        text-align: center;
        color: #0887e7;
        text-transform: uppercase;
    }
}
