m-item4 {
    ion-grid {
        border-bottom: solid #8d8d8d 1px;    
    }

    .dist-name {
        font-size: 1.2em;
        font-weight: 500;
    }

    .time {
        font-size: 0.75em;
    }
}
