page-profile {
    
    .profile-header {
        background-color: #e4e4e4;
        position: relative;
        
        .img-container {
            position: relative;
            width: 110px;
            height: 110px;
            overflow: hidden;
            margin: 0px auto;
            border: 4px solid #0887e7;
            border-radius: 50%;
        }
    
        .p-name {
            font-size: 1.2em;
            color: #666666 !important;
        }
    
        .p-address {
            font-size: 0.9em;
            color: #666666 !important;
        }

        .camera {
            height: 40px;
            width: 40px;
            position: absolute;
            top: 90px;
            left: calc(50% + 15px);
            background-color: #0887e7;
            border-radius: 50%;
            background-image: url(./../assets/imgs/camera.png);
            background-size: 25px 20px;
            background-repeat: no-repeat;
            background-position: 50% 45%;
            z-index: 99;
        }
    }

    .info-header {
        font-size: 1.4em;
        font-weight: 600;
        color: #666666;
        border-bottom: solid #666666 1px;
    }

    .label {
        font-size: 1.1em;
        color: #666666;
    }

    .value {
        font-size: 1.3em;
        color: #0887e7;
    }

    .two-input {
        .text-input-ios,
        .text-input-md {
            margin-left: 16px !important;
        }
    }
    .text-input-md {
        margin-left: 0px !important;
    }

    .edit {
        height: 25px;
        margin-left: 10px;
        margin-top: -8px;
    }
}
