sub-header3 {
    .sub-header {
        position: relative;
        height: 100px;
        padding: 0px !important;

        span {
            position: absolute;
            right: 10px;
            bottom: 5px;
            background: #fff;
            padding: 0 5px;
            font-size: 1.8em;
            font-weight: 700;
            color: #ffa904;
            border-radius: 4px;
        }
    }

    .confirm {
        background: #fff;
        .title {
            color: #2b82d4;
            font-size: 1.2em;
            font-weight: 600;
            max-height: 1.3em;
            overflow: hidden;
        }

        .sub-title {
            color: #4d4d4d;
            font-size: 0.9em;
            max-height: 1.2em;
            overflow: hidden;
        }

        ul {
            padding: 0px;
            margin: 0 0 2px 0 !important;
           
            &.rating li {
                padding: 5px 0px !important;
                background: none;
                color: #ffb400;
            
                ion-icon {
                    font-size: 1.3em;
                }
            }
        }
    }

    .info {
        background: #dadada;
        text-transform: uppercase;
        font-size: 1.4em;
        font-weight: 600;

        ion-col {
            color: #787878;
            padding: 10px !important;
        }

        .active {
            color: #0887e7;
            border-bottom: solid #0887e7 2px;
        }
    }
}
